body { font-family: Source Sans Pro; margin: 0; padding: 0; overflow-x:hidden }


#about-us  {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 11;
	background-color: rgba(0,0,0,0); /*dim the background*/
	-webkit-transition: opacity 500ms ease-in;
  	-moz-transition: opacity 500ms ease-in;
  	transition: opacity 500ms ease-in;	
  	-webkit-animation: minimise 500ms linear;
	 opacity: 0;
	  pointer-events: none;
}


.about-us-content {
	position: relative;
	width: 700px;
	height: 500px;
	background: #FFFFFF;
	margin: 100px auto;
}

#about-us .close{ /* to make a nice looking pure CSS3 close button */
	color: transparent;
}

#about-us .close:after {
	content: 'X';
  display: block;
}

#about-us .close:focus:after,#about-us .close:hover:after {
	-webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
}
#about-us .close:focus:after {
	  outline: 1px solid #000;
}

#about-us:target{
      -webkit-animation-name: bounce;
      opacity: 1;
  pointer-events: auto;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}


.header { background: rgba(255,255,255,0); text-align: center; top: 0; left: 0; position: fixed; width: 97%; height: 60px; padding-right: 3%; padding-top: 20px; z-index: 10;}
	.header a { text-decoration: none;}
	.header-left-snip { position: relative; display: inline-block; width: 888px; vertical-align: top;}
	.header ul { list-style-type: none; display: inline-block; padding: 0;}
		.header li {display: inline;}
			.header li a { color: #FFFFFF; font-weight: 700; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;}
.header .small-menu {
	float: right;
	z-index: 1000;
	display: none;
	font-size: 20px;
	margin-top: 9px;
}
.white { background: rgba(255,255,255,.9);}
.grey { color: #353535 !important;}
/*

@media all and (max-width:1200px) {
	
	.header-left-snip {
		top: 70px;
		left: 0;
		height: 50px;
		position: absolute;
		width: 100%;
		background: #FFFFFF;
		border-top: 1px solid #E9E9E9;
		border-bottom: 1px solid #E9E9E9;
	}
	.header ul {
		margin-left: 10%;
		position: relative;
		width: 100%;
	}

	.header li > a {
	padding-top: 14px;
	padding-bottom: 16px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
	}


	
}

@media all and (max-width:850px) {

	
	.header ul {
		margin-left: 0;
		left: 0;
		padding: 0;
		width: 100%;
	}

	.header li {
		display: block;
		background: #FFFFFF;
		width: 100%;
		left: 0;
		margin: 0;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #E9E9E9;
	}

	.header .small-menu {
		display: block;
	}


	.header li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
	}
}

*/


.header-center-snip { display: inline-block; padding-top: 10px; position: absolute; left: 50px;}
	.header-center-snip a {}
	.header-center-snip img{ width: 180px; position: relative; top: -10px;}

/*

@media all and (max-width:1200px) {

	.header-center-snip {
		text-align: center;
		margin-left: -3%;
	}
}

@media all and (max-width:850px) {
	.header-center-snip {
		width: 70%;
		margin-left: 12%;
	}
}

*/
.home { position: relative; width: 100%; height:100%; background: url('../images/bg.jpg') no-repeat; background-size: 100%; overflow: hidden; }
	.home-anime1 { position: absolute; background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url('../images/home-1.png') repeat-y; background-size: 100%; width: 100%; height: 200%; -webkit-animation: animatedBackground 10s linear infinite; -moz-animation: animatedBackground 10s linear infinite;	}
	.home-anime2 { position: absolute; background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),url('../images/home-2.png') repeat-y; background-size: 100%; width: 100%; height: 200%; -webkit-animation: animatedBackground 15s linear infinite; -moz-animation: animatedBackground 15s linear infinite; opacity: .5;}
	.home .date { color: #FFFFFF; font-size: 23px; font-weight: 700; position: absolute; top: 130px; background: rgba(77, 233, 214, 0.69); padding: 10px 32px; border-radius: 5px; left: 15px;}
	.home .notify { z-index: 1; text-decoration: none; color: #FFFFFF; font-size: 23px; font-weight: 700; padding: 10px 38px 10px 32px; border-radius: 5px; position: absolute; top: 195px; background: rgba(77, 233, 214, 0.69); left: 15px;}
	.home .title { color: #FFFFFF; font-size: 106px; font-weight: 700; position: relative; text-align: center; margin-top: 242px;}
	.home .links { background-size: #DDD; height: 20px; position: absolute; right: 0; top: 120px;}
		.home .links a {display: block; background: rgba(77, 233, 214, 0.69); color: #FFFFFF; text-decoration: none; font-size: 23px; font-weight: 700; margin: 15px; padding: 10px 32px; border-radius: 5px;}
	.home .about-us { height: 100px; background: rgba(255,255,255,.1); text-align: center; text-decoration: none; display: block; width: 100%; position: relative; top: 160px; padding-top: 37px; padding-bottom: 27px; font-size: 25px; font-weight: 700; color: #ffffff; border-top: 1px solid #3C7C6C;}
	.home .about-us .sponsors-img { position: absolute; width: 100%; top: 20px;}
	.home .about-us .sponsors-img  img{ display: inline-block; height: 50px; position: relative; margin-right: 50px;}
	.home .down-arrow { text-align: center; position: absolute; width: 100%; top: 320px;}
		.home .down-arrow img { height: 80px;}
.down-arrow {
-webkit-animation: floating 4s infinite linear;
-moz-animation: floating 4s infinite linear;
-ms-animation: floating 4s infinite linear;
-o-animation: floating 4s infinite linear;
}
@-webkit-keyframes animatedBackground{
	from { background-position: 0 0; }
	to { background-position: 0 100% ; }
}

/*
.home-date{
	background: url('../images/home-date.png') no-repeat;
	background-size: 17%;
	height: 400px;
	position: absolute;
	left: 0;
	width: 100%;
}

.home-tri {
	background: url('../images/home-tri.png') no-repeat;
	height: 850px;
	width: 80%;
	background-size: 50%;
	margin-left: 30%;
	margin-top: 50px;
	position: absolute;
}
*/

/*
@-webkit-keyframes twist {
	0%   {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
	25%   {-webkit-transform: rotateY(30deg); transform: rotateY(30deg);}
    50%  {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
    75%  {-webkit-transform: rotateY(-30deg); transform: rotateY(-30deg);}
    100% {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
}


@keyframes twist {
    0%   {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
	25%   {-webkit-transform: rotateY(45deg); transform: rotateY(45deg);}
    50%  {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
    75%  {-webkit-transform: rotateY(-90deg); transform: rotateY(-90deg);}
    100% {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
}

.home-tri {
	 -webkit-animation: twist 15s infinite linear;
-moz-animation: twist 5s infinite linear;
-ms-animation: twist 5s infinite linear;
-o-animation: twist 5s infinite linear;
}
*/
/*
.home-cec{
	background: url('../images/home-cec.png') no-repeat;
	background-size: 100%;
	height: 400px;
	position: absolute;
	width: 20%;
	top: 0;
	right: 0;
}

.home-interstellar {
	background: #f65c2a;
	height: 30px;
	width: 200px;
	top: 170px;
	right: 0;
	position: absolute;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}

.home-ror {
	background: #f65c2a;
	height: 30px;
	width: 200px;
	top: 220px;
	right: 0;
	position: absolute;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}

.home-ca {
	background: #f65c2a;
	height: 30px;
	width: 200px;
	top: 267px;
	right: 0;
	position: absolute;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}
.home-reg {
	background: #F84F18;
	height: 42px;
	width: 260px;
	top: 314px;
	right: 0;
	position: absolute;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding-top: 18px;
	font-size: 23px;
}
@media all and (max-width:1200px) {
	.home {
		top: 120px;
	}

	.home-tri {
		margin-top: 80px;
	}
}

@media all and (max-width:850px) {
	.home{
		top: 80px;
	}

	.home-date{
	background-size: 23%;
	height: 400px;
	}
}
.home iframe {
	width: 100%;
	height: 100%;
}

.circle-logo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #FFFFFF url('../images/logo.png') no-repeat;
    background-size: 200px auto;
    background-position: 48px 35px;	
    z-index: 1;
    cursor: pointer;
}

*/

/* News ***/
.news-feed { width: 94%; height: 250px; padding-top: 120px; padding-left: 3%; padding-right: 3%;	 font-size: 35px; line-height: 1.14286; letter-spacing: -0.005em; word-spacing: -0.005em; font-weight: 700; overflow: hidden; background:#1AC774; text-align: center; color: #FFFFFF; }
	.news-feed a {text-decoration:none; color: rgb(70, 70, 70);}

/*

@media all and (max-width:1200px) {
	.news-feed {
		height: 300px;
	}
}

@media all and (max-width:850px) {
	.news-feed{
		font-size: 25px;
		top: 500px;
		height: 100px;
		padding-top: 50px;
	}
}

*/
.news-controls 	{ position: relative; top: 100px; }
	.news-controls img {cursor: pointer; height: 50px;}
.vticker{ width: 100%; overflow: hidden;}
	.vticker ul{ list-style-type: none; padding: 0; padding-top: -15px; margin: auto; position: relative !important;}

/* Proshow */


.proshow {width: 100%; height: 700px; background: url('../images/stephen.jpg') no-repeat center center fixed; background-size: 100% auto; background-position: 0px 30px;}
	.proshow .title { position: absolute; display: inline-block; right: 40px; margin-top: 250px; color: #F5F5F5; background: rgba(67, 35, 60, .9); padding: 15px 140px 15px 106px; font-size: 78px; font-weight: 900;}

/* End of proshow */

/* Schedule */

/* End of Schedule */


/*** Gallery *****/
.gallery { display: block; width: 100%; height: 550px; text-decoration: none; padding-top: 90px; font-size: 56px; line-height: 1.14286; letter-spacing: -0.005em; word-spacing: -0.005em; font-weight: 700; background:#FFE318; background-size: 102%; text-align: center; color: #222222; }

/*
@media all and (max-width:1200px) {
	.gallery {
		top: 1100px;
		height: 500px;
	}
}
@media all and (max-width:850px) {
	.gallery {
		top: 650px;
	}
}
*/

#gallery-arrow { margin-top: 100px; padding: 0; border: 1px solid rgba(0, 0, 0, 0); transition:padding .5s ease-in-out; }


@-webkit-keyframes floating {
    0%   {margin-top: 50px;}
    50%  {margin-top: 85px;}
    100% {margin-top: 50px;}
}

/* Standard syntax */
@keyframes floating {
    0%   {margin-top: 50px;}
    50%  {margin-top: 85px;}
    100% {margin-top: 50px;}
}

#gallery-arrow {
-webkit-animation: floating 2s infinite linear;
-moz-animation: floating 2s infinite linear;
-ms-animation: floating 2s infinite linear;
-o-animation: floating 2s infinite linear;
}


.icarousel {
	display: none;
	opacity: 1;
}

/*
.sponsors {
	left: 0;
	width: 100%;
	height: 92%;
	position: absolute;
	text-align: center;
	background: #99597B;
	color: #FFFFFF;
	position: fixed;

}
.sponsors-col1 {
	left: 0;
	padding-top: 70px;
	width: 100%;
	text-align: center;
}

.sponsors-col1 h1 {
	padding-top: 0;
	margin-top: 20px;
	font-size: 56px;
	line-height: 1.14286;
	letter-spacing: -0.005em;
	word-spacing: -0.005em;
	font-weight: 300;	
}
.sponsors-gallery {

}

.spons1{
	position: fixed;
	width: 21.25%;
	height: 350px;
	background: #FFFFFF;
	margin-left: 3%;
	margin-top: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
}
.spons2{
	position: fixed;
	width: 21.25%;
	height: 350px;
	background: #FFFFFF;
	margin-left: 27.25%;
	margin-top: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
}

.spons3{
	position: fixed;
	width: 21.25%;
	height: 350px;
	background: #FFFFFF;
	margin-left: 51.5%;
	margin-top: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
}

.spons4{
	position: fixed;
	width: 21.25%;
	height: 350px;
	background: #FFFFFF;
	margin-left: 75.75%;
	margin-top: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
}
*/
.contact-us { display: inline-block; width: 100%; height:479px; color: #FFFFFF; background: #FF4C4C;}

/*
@media all and (max-width:850px) {
	.contact-us {
		top: 1130px;
	}
}
*/
.contact-col1 {width: 100%;}
	.contact-col1-details {text-align: center;}
	.contact-col1 h1 { font-size: 56px; line-height: 1.14286; letter-spacing: -0.005em; word-spacing: -0.005em; font-weight: 700;text-align: center; }
	.contact-col1  img { height: 25px; width: auto; }
	.contact-col1 img { display: none; }
	.contact-col1 h2 { font-size: 20px; font-weight: 300; opacity: .9; padding: 0; margin: 0; display: inline-block; margin-bottom: 15px; letter-spacing: 0px; transition:letter-spacing .2s ease-in-out; }
	.contact-col1 h2:hover {letter-spacing: 2px;}


/****** google map *********/
#map_canvas { width:100%; height: 300px; box-shadow: -4px 0 15px rgba(0,0,0,0.15), 4px 0 5px rgba(0,0,0,0.15); }
	#map_canvas a img { display:none; } 

/*
.contact-col2 {

	padding-top: 1%;
	position: absolute;
	right: 0;	
	margin-right: 3%;
	padding-right: 0;
}
*/
/* feedback form */
/*
#contact-form {
	width: 280px;
	height: 155px;

}

#contact-form label {
	display: none;
}

.placeholder {
    color: #444;
}

#contact-form input[type="text"],#contact-form textarea {
	width: 100%;
	height: 40px;
	margin-top: 7px;
	background: #fff;

	padding-left: 20px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #212121;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

#contact-form textarea {
	resize:none;
	height: 100px;
	padding-top: 4%;
}



#contact-form input[type="button"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;-
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid #46B8BD;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: #2490BF;	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#contact-form input[type="button"]:hover {
		background: #1a749b; 
		margin-top: 8px;
}

#contact-form input[type="button"]:active {


	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}

.feature-divider {
  background-color: #D9D9D9;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fafafa), color-stop(50%, #d9d9d9), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(left, #fafafa, #d9d9d9, #fafafa);
  background-image: -moz-linear-gradient(left, #fafafa, #d9d9d9, #fafafa);
  background-image: -o-linear-gradient(left, #fafafa, #d9d9d9, #fafafa);
  background-image: linear-gradient(left, #fafafa, #d9d9d9, #fafafa);
  height: 1px;
  width: 100%;

}
*/
/*******/

.footer {

	background: #FFFFFF;
	height: 130px;
	width: 100%;
	min-width: 400px;
	color: #8b8b8b;
	display: inline-block;
	font-size: 12px;
	line-height: 1.33333;
}
/*
@media all and (max-width:850px) {
	.footer {
		top: 1700px;
	}
}

*/

#footer-snip {
margin-top: -20px;
margin-left: 4%;
width: 250px;
min-width: 100px;
float: left;
}

#footer-snip img {
	width: 50%;
	margin-left: -4%;
	opacity: .7;	
}

.nav {
	margin-top:30px;
	float: right;
	margin-right: 3%;
}


.nav h1 {
	font-weight: 100;
	padding-left: 20px;
	font-size: 17px;
}
.nav a {
	text-decoration: none;
	opacity: 1;
}
.nav a:hover {
	opacity: .8;
}