* {
  margin: 0px;
  padding: 0px;
  color:black;
}
 
body {
  background: #e5e5e7;
}
.menuexp h4{
background: #f3f3f3;}
 
nav {
  font-family:sans-serif;
  line-height: 1.5;
  margin:  auto; 
  width: 100%;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
 
.menuitem {
  background: #fff;
  width: 100%;
}

.menuitem h4 {
	color:#fff;	
  font-size: 20%;
  font-weight: 500;
  padding: 7em 17em;
  background: #f3f3f3;
}
.menuitem h4 a {
	color: #ooo;
	display: block;
	text-decoration: none;
	width: 100%;
}
.menuitem h4 {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.2);
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1.1em 1.9em;
	background: #f3f3f3;

}
.menuitem h4:hover { 
  background: #f3f3f3; 
  
}

.menuexp p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}

.menuitem ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
 
.menuitem ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 100%;
}
 

.menuitem li {
  border-bottom: 1px solid #eee;
}
 
.menuitem li:hover {
  background: #eee;
}

.menuitem ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px; 
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

.menuitem ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
   

  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}
.menuitem:hover ul {
  height: auto;

}
